@import '../../../scss/style';
.loginBody {
    background-color: #353535;
}
.Inh_login {
    width: 380px !important;
    margin: 0 auto;
    .card {
        background-color: #353535;
        border: none;
        //border-radius: 20px !important;
        li {    
            display: inline-block;
            height: 100px;
            vertical-align: -webkit-baseline-middle;
            img {
                vertical-align: top;
                margin-right: 25px;
            }
        }
        h1 span {
            color: #ffffff;
            font-size: 26px;
            text-align: center;
        }
        p {
            text-align: center;
            line-height: 19px;
            letter-spacing: 0.04rem; 
            margin-bottom: 20px;
        }
        .lefticon {
            height: 43px;
            position: absolute;
            line-height: 46px;
            z-index: 100;
            padding-left: 5px;
        }
        .form-control {
            border-radius: 0px !important;
            height: 45px !important;        
            background-color: #353535;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-bottom: 1px solid #ffffff;     
            color: #ffffff;  
            margin-bottom:30px;
            font-size: 16px;
            padding-left: 40px;
            input {
                &:focus,
                input:-webkit-autofill:focus {
                    background-color: #353535 !important;
                    -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px;
                }             
            }
        }
        .Inh_bottom {
            margin-top: 30px;
            max-width: 100%;
            display: block;
            .btn-primary {
                width: 100%;
                display: block;
                border-radius: 5px;
                height: 55px;
                span {
                    font-size: 16px ;
                }
            }
        }
    } 
}